/* GLOBAL */

.container
{
    padding:0;
    margin:0;
}

/* HEADER */


header{
    min-height: 75px;
    background-color: #131344;
    border-bottom:#000000 10px solid;
    margin-bottom:50px;
}
header a, a:hover, a:visited{
    text-decoration: none;
    color:inherit;

}
header .logo{
    padding:15px;
    padding-bottom:5px;
    margin-left:10%;
    color:white;
    width:275px;
}


/* MAIN */

#main{
    margin-bottom:50px;
    border-bottom:#000000 1px solid;
}
    /*SHOWCASE*/
#main .showcase-image{
    text-align: center;
    margin-bottom: 40px;
} 

#main .showcase-image img{
    width: 300px;
}

    /* LINE */

#gallery .line{
    border-top: gray 1px solid;
}

#gallery .line ul{
    margin: 0px;
}

#gallery .gallery-image {
    padding: 20px;
}

#gallery .gallery-image img{
    width: 50px;
    display: block;
    margin: auto;
}

/*CONTACTS*/
#contacts {
    padding-bottom: 35px;
}

#contacts .boxes .row .col-md-2{
    margin:10px;
}
#contacts img{
    width: 100px;
    display: block;
    margin:auto;
}


/*FOOTER*/

footer{
    min-height:50px;
    text-align:center;
    background-color: #131344;
    padding:20px;
    color:white;
}



@media (max-width: 768px) {
    #contacts img{
        width:150px;
    }
}
@media(min-width: 768px){
    #main .content .row .col-md-6 iframe{
        width: 560px;
        height: 315px;
    }
}